<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Apple Devices</string>
		<key>sections</key>
		<array>
			<dict>
				<key>name</key>
				<string>iPhone</string>
				<key>presets</key>
				<array>
					<dict>
						<key>name</key>
						<string>iPhone 8</string>
						<key>imageName</key>
						<string>artboard_device_phone</string>
						<key>width</key>
						<integer>375</integer>
						<key>height</key>
						<integer>667</integer>
						<key>allowResizedMatching</key>
						<true/>
						<key>offersLandscapeVariant</key>
						<true/>
					</dict>
					<dict>
						<key>name</key>
						<string>iPhone 8 Plus</string>
						<key>imageName</key>
						<string>artboard_device_phone</string>
						<key>width</key>
						<integer>414</integer>
						<key>height</key>
						<integer>736</integer>
						<key>allowResizedMatching</key>
						<true/>
						<key>offersLandscapeVariant</key>
						<true/>
					</dict>
					<dict>
						<key>name</key>
						<string>iPhone SE</string>
						<key>imageName</key>
						<string>artboard_device_phone</string>
						<key>width</key>
						<integer>320</integer>
						<key>height</key>
						<integer>568</integer>
						<key>allowResizedMatching</key>
						<true/>
						<key>offersLandscapeVariant</key>
						<true/>
					</dict>
					<dict>
						<key>name</key>
						<string>iPhone XS</string>
						<key>imageName</key>
						<string>artboard_device_phone_x</string>
						<key>width</key>
						<integer>375</integer>
						<key>height</key>
						<integer>812</integer>
						<key>allowResizedMatching</key>
						<true/>
						<key>offersLandscapeVariant</key>
						<true/>
					</dict>
					<dict>
						<key>name</key>
						<string>iPhone XR</string>
						<key>imageName</key>
						<string>artboard_device_phone_x</string>
						<key>width</key>
						<integer>414</integer>
						<key>height</key>
						<integer>896</integer>
						<key>allowResizedMatching</key>
						<true/>
						<key>offersLandscapeVariant</key>
						<true/>
					</dict>
					<dict>
						<key>name</key>
						<string>iPhone XS Max</string>
						<key>imageName</key>
						<string>artboard_device_phone_x</string>
						<key>width</key>
						<integer>414</integer>
						<key>height</key>
						<integer>896</integer>
						<key>allowResizedMatching</key>
						<true/>
						<key>offersLandscapeVariant</key>
						<true/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>iPad</string>
				<key>presets</key>
				<array>
					<dict>
						<key>name</key>
						<string>iPad</string>
						<key>width</key>
						<integer>768</integer>
						<key>imageName</key>
						<string>artboard_device_tablet</string>
						<key>height</key>
						<real>1024</real>
						<key>offersLandscapeVariant</key>
						<true/>
					</dict>
					<dict>
						<key>name</key>
						<string>10.5″ iPad Pro</string>
						<key>width</key>
						<real>834</real>
						<key>imageName</key>
						<string>artboard_device_tablet</string>
						<key>offersLandscapeVariant</key>
						<true/>
						<key>height</key>
						<real>1112</real>
					</dict>
					<dict>
						<key>name</key>
						<string>11″ iPad Pro</string>
						<key>width</key>
						<real>834</real>
						<key>imageName</key>
						<string>artboard_device_ipad_pro</string>
						<key>offersLandscapeVariant</key>
						<true/>
						<key>height</key>
						<real>1194</real>
					</dict>
					<dict>
						<key>name</key>
						<string>12.9″ iPad Pro</string>
						<key>width</key>
						<real>1024</real>
						<key>imageName</key>
						<string>artboard_device_ipad_pro</string>
						<key>offersLandscapeVariant</key>
						<true/>
						<key>height</key>
						<real>1366</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Apple Watch</string>
				<key>presets</key>
				<array>
					<dict>
						<key>name</key>
						<string>Apple Watch 38mm</string>
						<key>imageName</key>
						<string>artboard_device_watch</string>
						<key>width</key>
						<integer>136</integer>
						<key>height</key>
						<integer>170</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Apple Watch 40mm</string>
						<key>imageName</key>
						<string>artboard_device_watch</string>
						<key>width</key>
						<integer>162</integer>
						<key>height</key>
						<integer>197</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Apple Watch 42mm</string>
						<key>imageName</key>
						<string>artboard_device_watch</string>
						<key>width</key>
						<integer>156</integer>
						<key>height</key>
						<integer>195</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Apple Watch 44mm</string>
						<key>imageName</key>
						<string>artboard_device_watch</string>
						<key>width</key>
						<integer>184</integer>
						<key>height</key>
						<integer>224</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Apple TV</string>
				<key>presets</key>
				<array>
					<dict>
						<key>name</key>
						<string>Apple TV</string>
						<key>imageName</key>
						<string>artboard_device_tv</string>
						<key>width</key>
						<integer>1920</integer>
						<key>height</key>
						<integer>1080</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Mac</string>
				<key>presets</key>
				<array>
					<dict>
						<key>name</key>
						<string>Touch Bar</string>
						<key>imageName</key>
						<string>artboard_device_desktop</string>
						<key>width</key>
						<integer>1085</integer>
						<key>height</key>
						<integer>30</integer>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Android Devices</string>
		<key>sections</key>
		<array>
			<dict>
				<key>name</key>
				<string>Common Mobile</string>
				<key>presets</key>
				<array>
					<dict>
						<key>name</key>
						<string>Android</string>
						<key>imageName</key>
						<string>artboard_device_phone</string>
						<key>offersLandscapeVariant</key>
						<true/>
						<key>width</key>
						<integer>360</integer>
						<key>height</key>
						<integer>640</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Pixel 2</string>
						<key>imageName</key>
						<string>artboard_device_phone</string>
						<key>offersLandscapeVariant</key>
						<true/>
						<key>width</key>
						<integer>412</integer>
						<key>height</key>
						<integer>732</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Pixel 2 XL</string>
						<key>imageName</key>
						<string>artboard_device_phone</string>
						<key>offersLandscapeVariant</key>
						<true/>
						<key>width</key>
						<integer>360</integer>
						<key>height</key>
						<integer>720</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Galaxy S8</string>
						<key>imageName</key>
						<string>artboard_device_phone</string>
						<key>offersLandscapeVariant</key>
						<true/>
						<key>width</key>
						<integer>360</integer>
						<key>height</key>
						<integer>740</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Common Tablet</string>
				<key>presets</key>
				<array>
					<dict>
						<key>name</key>
						<string>Nexus 7</string>
						<key>width</key>
						<integer>600</integer>
						<key>imageName</key>
						<string>artboard_device_tablet</string>
						<key>offersLandscapeVariant</key>
						<true/>
						<key>height</key>
						<integer>960</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Nexus 9</string>
						<key>offersLandscapeVariant</key>
						<true/>
						<key>width</key>
						<integer>768</integer>
						<key>imageName</key>
						<string>artboard_device_tablet</string>
						<key>height</key>
						<integer>1024</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Nexus 10</string>
						<key>offersLandscapeVariant</key>
						<true/>
						<key>width</key>
						<integer>800</integer>
						<key>imageName</key>
						<string>artboard_device_tablet</string>
						<key>height</key>
						<integer>1280</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Chromebook</string>
				<key>presets</key>
				<array>
					<dict>
						<key>name</key>
						<string>Pixel</string>
						<key>imageName</key>
						<string>artboard_device_desktop</string>
						<key>width</key>
						<real>1280</real>
						<key>height</key>
						<integer>850</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>11</string>
						<key>imageName</key>
						<string>artboard_device_desktop</string>
						<key>width</key>
						<real>1366</real>
						<key>height</key>
						<integer>768</integer>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Responsive Web</string>
		<key>sections</key>
		<array>
			<dict>
				<key>name</key>
				<string>Mobile</string>
				<key>presets</key>
				<array>
					<dict>
						<key>height</key>
						<real>1024</real>
						<key>name</key>
						<string>Mobile</string>
						<key>imageName</key>
						<string>artboard_device_phone</string>
						<key>offersLandscapeVariant</key>
						<true/>
						<key>width</key>
						<real>320</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Tablet</string>
				<key>presets</key>
				<array>
					<dict>
						<key>height</key>
						<real>1024</real>
						<key>name</key>
						<string>Tablet</string>
						<key>imageName</key>
						<string>artboard_device_tablet</string>
						<key>offersLandscapeVariant</key>
						<true/>
						<key>width</key>
						<real>768</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Desktop</string>
				<key>presets</key>
				<array>
					<dict>
						<key>height</key>
						<real>1024</real>
						<key>name</key>
						<string>Desktop</string>
						<key>imageName</key>
						<string>artboard_device_desktop</string>
						<key>width</key>
						<real>1024</real>
					</dict>
					<dict>
						<key>height</key>
						<real>1024</real>
						<key>name</key>
						<string>Desktop HD</string>
						<key>imageName</key>
						<string>artboard_device_desktop</string>
						<key>width</key>
						<real>1440</real>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Paper Sizes</string>
		<key>sections</key>
		<array>
			<dict>
				<key>presets</key>
				<array>
					<dict>
						<key>name</key>
						<string>A4</string>
						<key>imageName</key>
						<string>artboard_device_paper</string>
						<key>tooltip</key>
						<string>Only suitable for PDF Exporting</string>
						<key>width</key>
						<integer>595</integer>
						<key>height</key>
						<integer>842</integer>
						<key>offersLandscapeVariant</key>
						<true/>
					</dict>
					<dict>
						<key>name</key>
						<string>A5</string>
						<key>imageName</key>
						<string>artboard_device_paper</string>
						<key>tooltip</key>
						<string>Only suitable for PDF Exporting</string>
						<key>width</key>
						<integer>420</integer>
						<key>height</key>
						<integer>595</integer>
						<key>offersLandscapeVariant</key>
						<true/>
					</dict>
					<dict>
						<key>name</key>
						<string>A6</string>
						<key>imageName</key>
						<string>artboard_device_paper</string>
						<key>tooltip</key>
						<string>Only suitable for PDF Exporting</string>
						<key>width</key>
						<integer>297</integer>
						<key>height</key>
						<integer>420</integer>
						<key>offersLandscapeVariant</key>
						<true/>
					</dict>
					<dict>
						<key>name</key>
						<string>Letter</string>
						<key>imageName</key>
						<string>artboard_device_paper</string>
						<key>tooltip</key>
						<string>Only suitable for PDF Exporting</string>
						<key>width</key>
						<integer>612</integer>
						<key>height</key>
						<integer>792</integer>
						<key>offersLandscapeVariant</key>
						<true/>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
